<!DOCTYPE html>
<html>
   <body>
      <h3>Students - Flask SQLAlchemy example</h3>
      <hr/>
      <form action = "{{ request.path }}" method = "post">
         <label for = "name">Name</label><br>
         <input type = "text" name = "name" placeholder = "{{data.name}}" value="" /><br>
         <label for = "email">City</label><br>
         <input type = "text" name = "city" placeholder = "{{data.city}}" value=""/><br>
         <label for = "addr">Addr</label><br>
         <textarea name = "addr" placeholder = "{{data.addr}}" value=""></textarea><br>
         <label for = "PIN">PIN</label><br>
         <input type = "text" name = "pin" placeholder = "{{data.pin}}" value=""/><br>
         <input type = "submit" value = "Submit" />
      </form>
   </body>
</html>